body {
    margin:0px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align:center;
}

ol {
    list-style: none;
    display:flex;
}
 
#heading {
background-color:black;
color:white;
}

li {
    padding:10px;
    margin:20px;
}

a {
    text-decoration: none;
    color:white;
}

.copy_right_footer {
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color:black;
    line-height: 3;
    text-align: center;
 }
